<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.flobankapi.mapper.admin.ProductMapper">

    <insert id="insertProduct" parameterType="kr.co.api.flobankapi.dto.ProductDTO">

        <selectKey keyProperty="dpstId" resultType="string" order="AFTER">
            SELECT dpst_id
            FROM TB_DPST_PROD_INFO
            WHERE ROWID = (
            SELECT MAX(ROWID)
            FROM TB_DPST_PROD_INFO
            )
        </selectKey>

        INSERT INTO TB_DPST_PROD_INFO (
        dpst_name,
        dpst_info,
        dpst_type,
        dpst_currency,
        dpst_rate_type,
        dpst_min_yn,
        dpst_max_yn,
        dpst_status,
        dpst_descript,
        dpst_period_type,
        dpst_min_age,
        dpst_max_age,
        dpst_auto_renew_yn,
        dpst_add_pay_yn,
        dpst_add_pay_max,
        dpst_part_wdrw_yn,
        dpst_reg_dt,
        dpst_info_pdf
        ) VALUES (
        #{dpstName},
        #{dpstInfo},
        #{dpstType},
        #{dpstCurrency},
        #{dpstRateType},

        #{dpstMinYn, jdbcType=INTEGER},
        #{dpstMaxYn, jdbcType=INTEGER},
        #{dpstStatus},
        #{dpstDescript},
        #{dpstPeriodType},
        #{dpstMinAge, jdbcType=INTEGER},
        #{dpstMaxAge, jdbcType=INTEGER},
        #{dpstAutoRenewYn},
        #{dpstAddPayYn},
        #{dpstAddPayMax, jdbcType=INTEGER},

        #{dpstPartWdrwYn},
        #{dpstRegDt},
        #{dpstInfoPdf}
        )
    </insert>





    <insert id="insertProductLimits">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO TB_DPST_AMT_LMT (
            lmt_dpst_id,
            lmt_currency,
            lmt_min_amt,
            lmt_max_amt
            )
            VALUES (
            #{item.lmtDpstId},
            #{item.lmtCurrency},
            #{item.lmtMinAmt},
            #{item.lmtMaxAmt}
            )
        </foreach>
        SELECT 1 FROM dual
    </insert>













    <insert id="insertProductPeriods" parameterType="java.util.List">
        INSERT INTO TB_DPST_PROD_PERIOD (
        period_min_month,
        period_max_month,
        period_fixed_month,
        period_dpst_id
        )
        <foreach collection="list" item="p" separator="UNION ALL">
            SELECT
            #{p.minMonth, jdbcType=INTEGER},
            #{p.maxMonth, jdbcType=INTEGER},
            #{p.fixedMonth, jdbcType=INTEGER},
            #{p.dpstId}
            FROM dual
        </foreach>
    </insert>

    <insert id="insertWithdrawalRule"
            parameterType="kr.co.api.flobankapi.dto.ProductWithdrawRuleDTO">
        INSERT INTO TB_DPST_PARTIAL_WDRW_INFO (
        wdrw_dpst_id,
        wdrw_min_month,
        wdrw_max
        ) VALUES (
        #{dpstId},
        #{minMonths},
        #{maxCount}
        )
    </insert>


    <insert id="insertWithdrawalAmounts" parameterType="java.util.List">
        INSERT INTO TB_DPST_PARTIAL_WDRW_AMT (
        amt_dpst_id,
        amt_currency,
        amt_min
        )
        <foreach collection="list" item="a" separator="UNION ALL">
            SELECT
            #{a.dpstId},
            #{a.currency},
            #{a.minAmt}
            FROM dual
        </foreach>
    </insert>




</mapper>
